/********
 * VARS *
 ********/

$spacing-xs: 5px;
$spacing-sm: 9px;

$border-width-base: 2px;
$border-width-lg:   3px;


/***********
 * CURSORS *
 ***********/

.ql-container {
  // We technically shouldn't need this, because Quill includes this styling
  // by default, but if it ever gets removed from the core library, or if
  // consumers aren't using the default styling, then our positioning will break,
  // so let's add it again just to be sure.
  position: relative;
  // Make sure we don't show cursors/selection rectangles outside the editor
  overflow: hidden;
}

.ql-cursor {

  &.hidden {
    display: none;
  }

  .ql-cursor-caret-container {
    position: absolute;
  }

  .ql-cursor-caret-container {
    margin-left: -$spacing-sm;
    padding: 0 $spacing-sm;
    z-index: 1;

    .ql-cursor-caret {
      position: absolute;
      top: 0;
      bottom: 0;
      width: $border-width-base;
      margin-left: -($border-width-base / 2);

      background-color: attr(data-color);
    }
  }

  .ql-cursor-selection-block {
    position: absolute;
    pointer-events: none;
  }
}
